<ion-header>
    <ion-toolbar color="tertiary">
        <ion-title>
            <strong>AppLoja</strong>
        </ion-title>
    </ion-toolbar>

</ion-header>

<ion-content color="danger">

    <ion-card *ngFor="let produto of produtos">


        <ion-img [src]="'http://devinp.com.br/'+produto.img"></ion-img>
        <!--a url não precisa apntar a pasta img pois já está no servidor online a pasta img-->

        <ion-card-content>
            <ion-card-header>
                <ion-card-subtitle>
                    <h1>{{produto.nome}}</h1>
                </ion-card-subtitle>
                <h2>{{produto.detalhes}}</h2>
                <ion-card-title>R${{produto.preco}}</ion-card-title>
            </ion-card-header>
        </ion-card-content>
        <ion-button buttton expand="full" (click)="comprar()">COMPRAR</ion-button>
    </ion-card>

    <!--<ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button href="/carrinho">
            <ion-icon name="cart-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>-->
    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="menu-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <ion-fab-button href="/carrinho"><ion-icon name="cart-outline"></ion-icon></ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="bottom">
          <ion-fab-button href="/login"><ion-icon name="exit-outline"></ion-icon></ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="start">
          <ion-fab-button><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="end">
          <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
        </ion-fab-list>
      </ion-fab>


</ion-content>